.App {
  text-align: center;
}

.container {
  display: flex;
  width: 50vw;
  padding: 5px 15px;
  flex-direction: column;
  justify-content: start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
}

.nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav ul {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.back-button {
  height: 40px;
  width: 40px;
  background-color: #f9f9fa;
  border-radius: 100%;
  text-align: center;
  background-color: #01172e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 20px -2px rgba(0, 0, 0, 0.2);
}
